.ButtonGroup {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 15px; 
}
  
.ButtonGroup button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

#b2 {
  background-color: white;
  color: black;
  border-radius: 0.5cm;
}

#b1 {
  background-color: black;
  color: white;
  border-radius: 0.5cm;
}